<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Website</title>
  </head>
  <body>
    <h1>Hello world</h1>
  </body>
</html>
